<h1>Welcome to Service Request Application</h1>

<div>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
        <label for="email">Enter your email ID</label><br>
        <input type="email" name="email" id="email" formControlName="email" /><br><br>

        <label for="password">Enter your password</label><br>
        <input type="password" name="password" id="password" formControlName="password" /><br><br>

        <input type="submit" value="Login"><br><br>
    </form>
    <a routerLink="/register">Or create an account here</a>
</div>
