<div class="container-fluid">
    <h1>Create a new Service Request</h1>

    <div>
        <form [formGroup]="requestForm" (ngSubmit)="onRequestSubmit()">
            <label for="modelName">Product Model: </label><br>
            <input type="text" name="modelName" id="modelName" formControlName="product_model" /><br><br>

            <label for="serviceType">Service Type: </label><br>
            <input type="text" name="serviceType" id="serviceType" formControlName="service_type" /><br><br>

            <label for="invoiceNumber">Product Invoice Number: </label><br>
            <input type="text" name="invoiceNumber" id="invoiceNumber"
                formControlName="product_invoice_number" /><br><br>

            <label for="detailedComplaint">Detailed Complaint: </label><br>
            <input type="text" name="detailedComplaint" id="detailedComplaint"
                formControlName="detailed_complaint" /><br><br>

            <input type="submit" value="Create"><br><br>
        </form>
    </div>
</div>