<div class="container-fluid">
    <h1 style="text-align: center;">Create a new Service Request</h1>

    <div class="col-md-12" style="text-align: center;">
        <form [formGroup]="requestForm" (ngSubmit)="onRequestSubmit()">
            <div class="col-md-3 mx-auto">
                <label for="modelName">Product Model: </label><br>
                <input type="text" name="modelName" id="modelName" formControlName="product_model"
                    class="form-control" />

                <label for="serviceType">Service Type: </label><br>
                <input type="text" name="serviceType" id="serviceType" formControlName="service_type"
                    class="form-control" />

                <label for="invoiceNumber">Product Invoice Number: </label><br>
                <input type="text" name="invoiceNumber" id="invoiceNumber" formControlName="product_invoice_number"
                    class="form-control" />

                <label for="detailedComplaint">Detailed Complaint: </label><br>
                <textarea type="text" name="detailedComplaint" id="detailedComplaint"
                    formControlName="detailed_complaint" class="form-control" rows="3"></textarea>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <div class="col-md-3 mx-auto">
                    <button type="submit" class="btn btn-primary form-control col-md-12">Create</button><br><br>
                </div>
            </div>
        </form>
    </div>
</div>