<ngx-spinner type="ball-pulse-sync" size="medium"></ngx-spinner>
<div class="container-fluid">
   <h1 style="text-align: center;">Service Requests raised in your company</h1>
   <div class="col-md-12 requestTableWrapper">
      <table class="table table-hover" style="text-align: left;">
         <div class="row rowTitle">
            <div class="col-sm"><b>Request ID</b></div>
            <div class="col-sm"><b>Detailed Complaint</b></div>
            <div class="col-sm"><b>Current Status</b></div>
            <div class="col-sm"><b>Created By</b></div>
            <div class="col-sm"><b>Created Time</b></div>
            <div class="col-sm" *ngIf="isTechnician"><b>Company Name</b></div>
         </div>
         <div>
            <div class="row rowData" *ngFor="let request of companyTicketsList | async"
               (click)="individualTicketNavigate(request.id)">
               <div class="col">
                  {{request.id}}
               </div>
               <div class="col">
                  {{request.detailed_complaint}}
               </div>
               <div class="col" *ngIf="request.current_status === 'o'">
                  Open
               </div>
               <div class="col">
                  {{request.createdBy}}
               </div>
               <div class="col">
                  {{request.created_time}}
               </div>
               <div class="col" *ngIf="isTechnician">
                  {{request.companyName}}
               </div>
            </div>
         </div>
      </table>
   </div>
</div>